<!DOCTYPE html>
<html>
<head>
    <title>Select Plans to View</title>

<!-- Google tag (gtag.js) GOOGLE ANALYTICS-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W93BNFSLX3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W93BNFSLX3');
</script>

</head>
<body>
    <h2>Select Plans to View for: {{ state }}</h2>

    <form action="/compare_results_all" method="POST">
        <input type="hidden" name="state" value="{{ state }}">

        <!-- List of plans with checkboxes -->
        <div>
            {% for id, name, PlanID in plans %}
                <div>
                    <label>
                        <input type="checkbox" name="plans" value="{{ PlanID }}">
                        {{ PlanID }} - {{ name }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <p><em>Select any number of plans to compare</em></p>

        <input type="submit" value="View Plans">
    </form>

    <br>
    <a href="/">Back to Home</a>
</body>
</html>