<!DOCTYPE html>
<html>
<head>
    <title>Select Plans with Transportation to Compare</title>
<!-- Google tag (gtag.js) GOOGLE ANALYTICS-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W93BNFSLX3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W93BNFSLX3');
</script>
</head>
<body>
    <h2>Select Plans with Transportation to Compare: {{ state }}</h2>
    <form action="/compare_results" method="POST">
    <input type="hidden" name="state" value="{{ state }}">
    <label for="plans">Select up to 3 Plans:</label><br>
    <select name="plans" multiple size="10" required>
        {% for id, name, PlanID in plans %}
            <!--<option value="{{ id }}">{{id}} - {{ PlanID }} - {{name}}</option>-->
                <option value="{{ id }}">{{ PlanID }} - {{name}}</option>
        {% endfor %}
    </select>
    <p><em>Hold Ctrl (Windows) or Command (Mac) to select multiple plans</em></p>

    <input type="submit" value="Compare Plans">
</form>
<br>

    <a href="/">Back to Home</a>
</body>
</html>
